<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Se ha registrado un nuevo Usuario</h1>
    <p>Email: <%= @lead.email %></p>
    <p>Name: <%= @lead.name %></p>
    <p>Zona: <%= @lead.zone %></p>
    <p>Phone: <%= @lead.phone %></p>
    <p>Comment: <%= @lead.comment %></p>
  </body>
</html>